section.logo-info {
    background: linear-gradient(to right, #D42424, #226ec4);
    border-radius: 20px;
    margin: auto;
    height: 200px;
    text-align: center;
    width: 50%;
}

.logo-info h1{
    padding-top: 50px;
}